#
# Makefile for Bosch sensors driver.
#
config MTK_BHI160_ACC
	bool "MTK_BHI160_ACC for MediaTek package"
	default n
	help
	  It support different accelerometer sensor.
          If this option is set,
	  it will support
          MTK_BHI160 Accelerometer.

