
config MTK_BHY_GYRO
        bool "MTK_BHY_GYRO for MediaTek package"
        default n
        help
        It support different gyroscope sensor.
        If this option is set,
	  	it will support
        bhy gyroscope.

